@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
<style>
    .chat-users {
        overflow-x: auto;
        height: 800px;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div class="row">
    <div class="col-7">
        
    </div>
    <div class="col-5 chat-users" id="userArea">

    </div>
</div>


@section scripts {
    <script src="~/lib/microsoft-signalr/signalr.js"></script>
    <script>
        const connection = new signalR.HubConnectionBuilder()
            .withUrl("/hubs/chat")
            .configureLogging(signalR.LogLevel.Information)
            .build();

        connection.start().then(function () {
            console.log("connection started");
        }).catch(console.error);

        connection.on("devices", function (activeDeviceResponse) {
            console.log(activeDeviceResponse)
            $("#userArea").html("");
            $.map(activeDeviceResponse, function (val, i) {
                $("#userArea").append(`<div class="row mb-2">
                                            <div class="col-1">${i + 1})</div>
                                            <div class="col-6">${val}</div>
                                            <div class="col-2"><button type="button" onclick="kickUser('${val}');" class="btn btn-sm btn-danger">X</button></div>
                                        </div>
                                      `);
            }) ;
        });

        connection.on("kick", function (connectionId) {
            if (connectionId === connection.connectionId)
                window.location.href = '/privacy';
        });

        function kickUser(userConnectionId) {
            connection.invoke("KickUserWithConnectionId", userConnectionId);
        }
    </script>
}